---
const links = [
  {
    "github": "https://github.com/302FoundDev",
    "twitter": "https://x.com/302founddev",
    "midu": "Thanks to @midudev for the support",
    "midusocial": "https://x.com/midudev",
    "rel": "noopener noreferer",
    "target": "_blank"
  }
]
---

<section>
  <div class="flex justify-between max-w-screen-xl px-4 py-8 mx-auto">
    {
      links.map(({ github, twitter, midu, midusocial, rel, target }) => {

        return (
          <div>
            <span>Created by <a href={twitter} rel={rel} target={target} class="transition hover:underline hover:text-red-300">@302FoundDev</a></span>
          </div>

          <div>
            <span>
             <a href={midusocial} rel={rel} target={target} class="transition hover:underline hover:text-red-300">{midu}</a>
            </span>
          </div>

          <div>
            <span>
              <a href={github} rel={rel} target={target} class="transition hover:underline hover:text-red-300">Github</a>
            </span>
          </div>
        )
      })
    }
  </div>
</section>

