---
import Layout from '../../layouts/Layout.astro'
import { SHOW_BUY_BUTTON } from 'astro:env/server'
import BuyButton from '../../components/BuyButton.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const booksCollection = await getCollection('books')

  return booksCollection.map((book) => ({
    params: { book: book.slug },
    props:  { book }
  }))
}

const { book } = Astro.props
const { data } = book
const { title, img, slug, buy } = data

const { Content } = await render(book)
---

<Layout title={`${title} - Hacker Books`}>

  <div class='flex gap-8 justify-center mt-24'>

    <aside class='flex flex-col gap-2'>
      <a
        class='text-lg opacity-70 hover:underline'
        href='/'
      >
        ← Go back
      </a>

      <img 
        transition:name={`img-${slug}`}
        class='max-w-80 rounded-md'
        src={img} 
        alt={title}>

      {
        SHOW_BUY_BUTTON && <BuyButton buy={buy}>Buy on Amazon</BuyButton>
      }
    </aside>

    <section class='flex flex-col max-w-2xl'>
      <h2 transition:name={`title-${slug}`} class='text-3xl font-semibold mb-4 mt-6'>{title}</h2>
      <div class='prose prose-invert'>
        <Content />
      </div>
    </section>

  </div>

</Layout>
