---
import Layout from '../../layouts/Layout.astro';
import books from '../../content/mocks.json';
import { SHOW_BUY_BUTTON } from 'astro:env/server';
import AmazonLogo from "../../components/AmazonLogo.astro"

export function getStaticPaths() {
  return books.map((book) => ({
    params: { book: book.slug },
    props: { book }
}))
}

const { book } = Astro.props
const { title, semiDesc, img, url, slug } = book

const SPAIN = 'ES'

const country = Astro.request.headers.get('X-Vercel-IP-Country') ?? 'ES'

const storeCountry = country === SPAIN ? 'spain' : 'usa'
const countryName = country === SPAIN ? 'Spain' : 'United States'
---

<Layout title={`${title} - Hacker Books`}>

  <div class='flex gap-6 justify-center mt-24'>
    <aside class="flex flex-col">
      <a href='/' class='hover:underline opacity-70'>
        ← Go back
      </a>
      <img
        transition:name={`img-${slug}`}
        class='rounded-md border border-gray-700 transition max-w-64 h-auto' 
        src={img} 
        alt={title}
      />

      {
        SHOW_BUY_BUTTON && (
        <a
          href={url.es}
          title="Buy book"
          target="_blank"
          rel="noopener noreferrer"
          class="mt-4 text-balance inline-flex gap-1 items-center bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
        >
          Buy on Amazon {countryName}
          <AmazonLogo />
        </a>
        )
      }

    </aside>

    <section class='flex flex-col gap-4 my-4'>
      <h1 transition:name={`title-${slug}`} class='text-2xl font-semibold'>
        {title}
      </h1>
      <p class='max-w-lg opacity-80'>
        {semiDesc}
      </p>
    </section>
  </div>

</Layout>
