---
import Layout from "../../layouts/Layout.astro";
import books from '../../content/mocks.json';

export function getStaticPaths() {
  return books.map((book) => ({
params: { id: book.slug },
props: { book }
}))
}

const { book } = Astro.props
const { title, semiDesc, img, url, slug } = book

console.log(book.slug)

---

<Layout title={`${title} - Hacker Books`}>
  <div class="flex gap-6 justify-center mt-24">
    <aside>
      <a href="/" class="hover:underline opacity-70">
        ← Go back
      </a>
      <img
        class="rounded-md border border-gray-700 transition max-w-64 h-auto" 
        src={img} 
        alt={title}
      />
    </aside>

    <section class="flex flex-col gap-4">

      <h1 class="text-2xl font-semibold">
        {title}
      </h1>
      <p class="max-w-lg opacity-80">
        {semiDesc}
      </p>

    </section>
  </div>
</Layout>

